.footer_container {

    border : 2px solid white;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: tomato; */
    height: 75px;
    float: left;
    color: black;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    gap: 20px;
    float: right;

}