// scss file is used to style our documentation, same like css file, 
// but with some extra features like variables, nesting, etc.
// first we write $ dolar sign and then the name of the variable, and then we can use that variable in our styles.
$primaryColor: #3498db;
$primaryHoverColor: #475EAA;
$backgroundPrimaryColor: #ecf0f1;
$secondaryTextColor: #6d7589;
$lightInfoColor: #95a5a6;
$outlineBgColor: #ffffff;
$outlinePrimaryColor: #8181A5;

$outline: #ECECF2